{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <label>{{ form.username.label }}</label>
        {{ form.username }}

        <label>{{ form.password.label }}</label>
        {{ form.password }}

        {% if form.errors %}
            <div class="form-error">
                <span>Your username and password didn't match. Please try again.</span>
            </div>
        {% endif %}
        
        <input type="submit" value="login" />
    </form>
{% endblock %}
